.streamList {
    margin-top: 3%;
    background: linear-gradient(247.99deg, rgba(52, 49, 102, 0.17) 0%, rgba(41, 39, 84, 0.78) 48.89%, rgba(27, 25, 67, 0.71) 98.46%);
    box-shadow: 28px 50px 90px rgba(23, 18, 43, 0.7);
    backdrop-filter: blur(26.3971px);
    border-radius: 11.477px;
}

.streamListTitle {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 30%;
    padding: 1%;  
    mix-blend-mode: normal;
    border: 1px solid #312F62;
    box-sizing: border-box;
    background: #343261;
    border-radius: 11.477px;
    color: #50E3C2;
}

.addStream {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 20%;
    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
    mix-blend-mode: normal;
    opacity: 0.8;
    box-shadow: 0px 4px 31px #BA1358;
    border-radius: 12px;;
    color: white;
}

.streams {
    color: white;
    border-color:#312f62a1;
}

.editbutton {
    background: #343261;
    border-radius: 11.477px;
}

.modal-content {
    background: linear-gradient(210.96deg, rgba(36, 33, 81, 0.74) 0.01%, rgba(38, 35, 83, 0.78) 42.05%, rgba(28, 26, 64, 0.51) 104.81%);
    box-shadow: -29px 60px 90px rgba(23, 18, 43, 0.55);
    backdrop-filter: blur(25px);
    border-radius: 11.3317px;
    color: white;
  }